 a,input,form,bottom{
    	 -webkit-tap-highlight-color: rgba(0,0,00);
    	 -webkit-appearance: none;

    }
    body{
    	font-family: "Helvetica";
    	-webkit-overflow-scrolling:touch;
    	overflow-scrolling:touch;
    }
    *{
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    text-size-adjust: 100%;
    user-select: none;
padding: 0px;
margin: 0px;
list-style: none;
   	  max-height: 9999999px;	
      font-size: 0.14rem;
      text-decoration: none;
    }